@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;1,500;1,600;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Kaushan Script', cursive;
    color: aliceblue;
    
}
#navigation{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(4, 4, 74);
   
}
#navigation p{
    padding: 10px;
}
a{
   color: aliceblue;
  text-decoration: none;
  
}
li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
#start{
    background-color: rgb(100, 182, 159);
    text-align: center;
    padding: 1.875rem;
    
}
#avatar{
    width: 10.938rem;
    height: 10.938rem;
   padding: 1.875rem;
}
#porfolio{
    color: black;
   text-align: center;
   margin: 1.875rem;
}
.porfolio-contenedor{
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  justify-content: center;
  margin: 1.875rem;
}
.porfolio-contenedor > div img{
    width: 9.375rem;
    height: 6.25rem;
}
#about{
    background-color: rgb(100, 182, 159);
    text-align: center;
    padding: 1.875rem;
}
.about-texto{
    display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin: 1.875rem;
}
.about-texto > div p{
    width: 15.4rem;
   
    text-align: left;
    padding: 0.625rem;
}
.btn::before {
        content: url('btn1.png');
}
.btn{
   color: #fff;
    border: 2px solid #fff;
    text-align: center;
    background-color: rgb(100, 182, 159);
    padding: 0.625rem;
}
.btn:hover{
    cursor: pointer;
    background-color:rgb(62, 129, 110); 
}

.contact{
    
    color: black;
   text-align: center;  
}
