@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Kaushan Script', cursive;
    color: aliceblue;
}
#bar-nav{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(4, 4, 74);
}
#bar-nav p{
    padding: 10px;
}
a{
  
  color: aliceblue;
  text-decoration: none;
  
}
li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
#start{
    background-color: rgb(100, 182, 159);
    text-align: center;
    padding: 1.875rem
}
#avatar{
    width: 10.938rem;
    height: 10.938rem;
   padding: 1.875rem;
}
#porfolio{
    display: flex;
    color: black;
    text-align: center;
}
.image{
    width: 9.375rem;
    height: 6.25rem;
}
